
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{empresaId}/{imovelId}/{vistoriaId}/{allPaths=**} {
      allow read, write: if request.auth.token.empresaId == empresaId;
    }
  }
}
